body {
    background-color: #f4f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
}

.card-header h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.calculator-card {
    background-color: white;
    padding: 30px;
    border: radius 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

button{
    padding: 0px 12px;
    border: none;
    border-radius: 22px;
    cursor: pointer;
    height: 36px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    transition: background-color 0.2s;
    border: 1px solid transparent;
    font-size: 10px;
}

.controls{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-bottom: 20px;
}

.dark-mode {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.dark-mode .calculator-card {
    background-color: #34495e;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.dark-mode button, .dark-mode input {
    border: 1px solid #7f8c8d;
    background-color: #496179;
    color: #ecf0f1;
}

.dark-mode h1 {
    color: #ecf0f1;
    border-bottom-color: #555;
}

.subject-entry {
    display: grid;
    grid-template-columns: 1.5fr 1.25fr 1.25fr auto;
    gap: 5px;
    margin-bottom: 15px;
    align-items: center;
}

.subject-entry input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}

.dark-mode .subject-entry input {
    background-color: #4a596b;
    color: #ecf0f1;
    border: 1px solid #7f8c8d;
}

.subject-entry input:focus {
    border-color: #3498db;
    outline: none;
}
  
.dark-mode .subject-entry input:focus {
    border-color: #95a5a6;
}

#reset-btn {
    background-color: #e74c3c;
    color: white;
}

.dark-mode #reset-btn{
    background-color: #c0392b;
}

#reset-btn:hover{
    background-color: #c0392b;
}

.dark-mode #reset-btn:hover{
    background-color: #a43026;
}

#add-subject-btn {
    background-color: #2ecc71;
    color: white;
}

.dark-mode #add-subject-btn{
    background-color: #27ae60;
}

#add-subject-btn:hover {
    background-color: #27ae60;
}

.dark-mode #add-subject-btn:hover{
    background-color: #2ecc71;
}

#calculate-btn {
    background-color: #3498db;
    color:white;
}

.dark-mode #calculate-btn{
    background-color: #2980b9;
}

#calculate-btn:hover {
    background-color: #2980b9;
}

.dark-mode #calculate-btn:hover {
    background-color: #3498db;
}

#result-area {
    margin-top: 25px;
    pad: 15px;
    background-color: #ecf0f1;
    border: 1px solid #7f8c8d;
    border-radius: 6px;
    text-align: center;
}

.dark-mode #result-area {
    margin-top: 25px;
    pad: 15px;
    border-radius: 6px;
    text-align: center;
    background-color: #34495e;
    border: 1px solid #7f8c8d;
}

#result-area h2 {
    color: #333;
    margin: 20;
    font-size: 24px;
}

.dark-mode #result-area h2 {
    color: #ecf0f1;
    margin: 20;
    font-size: 24px;
}

#mode-toggle {
    background: transparent;
    color: #333;
    font-size: 17px;
    padding: 8px 12px;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border: 1px solid transparent;
    transition: transform 0.6s ease-in-out, color 0.3s;
}

.dark-mode #mode-toggle {
    background: transparent;
    color: #f1f1f1;
    transform: rotate(180deg);
}


#mode-icon {
    display: inline-block;
    width: 1.2em;  
    text-align: center;
}

.remove-subject-btn {
    background-color: transparent;
    border: none;
    color: #e74c3c;
    padding: 0;
    margin-left: 5px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    transition: color 0.2s;
    border: 1px solid transparent;
}

.remove-subject-btn:hover {
    color: #c0392b;
}

.dark-mode .remove-subject-btn {
    color: #f1f1f1;
    background-color: transparent;
    border: none;
    outline: none;
}

.subject-label {
    font-weight: bold;
    color: #444;
    padding-right: 5px;
    margin: 0;
}

.dark-mode .subject-label {
    color: #ccc;
}